.field-validation-error
{
    color: #f00;
}

.field-validation-valid 
{
    display: none;
}

.input-validation-error 
{
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors 
{
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid 
{
    display: none;
}


.textbox {
    font-family: verdana, arial, snas-serif;
    font-size: 20px;     
    margin: 10px;   
    color: black ;    
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left ;
}

    .textbox:focus, input.input_text_focus {
        border-color: #646464;
        background-color: #fdfec1
    }

.label {
    font-family: verdana, arial, snas-serif;
    font-size: 20px;
    margin: 10px;
}
.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width : 700px;
}
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
