
@{
    ViewBag.Title = "Error";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Customers</title>
    </head>
    <body>
        <h1 style="font-weight: bold; font-size: 24px  ; "> @ViewBag.ErrorMessage </h1>
    </body>
</html>


